@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    
</div>
<div class="text-center">
    <img src="~/static/logo/Logo.png" />
    <h1 class="display-4">Tipsport Extraliga</h1>
    
</div>
